
/*
.builder.edit #report-composition .layout-rows { border: 2px dotted #009; }
.builder.edit #report-composition .layout-cell { border: 2px dotted #900; }
*/

#composer,
.builder.edit,
.builder.edit .main,
.builder.edit #report-composition {
  min-height: 100%;
}

/* --------------------------------------------------------- Barre supérieure */

.builder {
  padding-top: 100px;
}

#ComposerOptionsSelectRow {
  margin-top: -105px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0;
  padding: 15px;
}

#ComposerOptionsSelectRow .form-group {
  margin: 0;
}
#ComposerOptionsSelectRow .form-group label {
  font-size:12px;
  font-weight:700;
}

/* --------------------------------------------------------- Panneau latéral */

.builder .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  left: 0;
  padding-bottom: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.builder .sidenav-content {
  overflow-y: auto;
  height: 100%;
  padding: 0 15px;
}

.builder .sidenav fieldset {
  margin: 0 0 0.5em 0;
  padding: 0;
}
.builder .sidenav fieldset legend {
  font-size: 1rem;
  font-weight: 500;
}

.builder .sidenav fieldset>.list-group {
  margin-bottom: 0.5rem;
}
.builder .sidenav .list-group-item {
  padding: 0.5rem;
}
.builder .sidenav .list-group-item:hover {
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.builder .sidenav .dataviz.list-group-item {
  font-size: 0.75rem;
  line-height: 1rem;
}
.builder .sidenav .structure-description {
  font-size: small;
}

.builder .sidenav .list-group-item .bloc-tools,
.builder .sidenav .list-group-item .cols-tools,
.builder .sidenav .list-group-item .cell-tools,
.builder .sidenav .list-group-item .data-tools,
.builder .sidenav .list-group-item .text-edit,
.builder .sidenav .list-group-item .structure-html,
.builder .sidenav .list-group-item .dataviz-definition {
  display: none;
}

.builder .sidenav .handle {
  cursor: grab;
}

.builder .sidenav .sortable-drag {
  width: 400px;
  background-color: #ffe;
}
.builder .sidenav .sortable-drag .structure-html {
  display: block;
}
.builder .sidenav .sortable-drag .layout-cell {
  border: 1px solid #999;
  min-height: 2em;
}
.builder .sidenav .sortable-drag .bloc-sources {
  font-size: 0.75em;
}

/* --------------------------------------------------------- Section principale */

.builder .main {
  margin-left: 200px; /* Same as the width of the sidenav */
  margin-bottom: 100px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px;
}

.builder #composer-report-title {
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
}

.builder.edit #report-composition {
  position: relative;
  min-height: 250px;
  width: 100%;
  border: 2px dashed grey;
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  word-wrap: break-word;
}

.builder.edit #report-composition:empty:after {
  content: "Sélectionner le rapport à éditer.\APuis déposer ici les blocs structurants et les dataviz.";
  white-space: pre-wrap;
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  font-size:20px;
  font-weight:700;
  color:#006878;
}

.builder i.fas {
  width: 1em;
}

/* --------------------------------------------------------- Blocs de composition */

.builder #report-composition .structure-bloc,
.builder #report-composition .structure-element {
  position: relative;
}
.builder #report-composition .structure-description {
  display: none;
}

.builder #report-composition .bloc-tools {
  position: absolute;
  top:   0;
  right: 0;
}

.builder #report-composition .bloc-title {
}
.builder #report-composition .bloc-content {
}
.builder #report-composition .bloc-sources {
  font-size: 12px;
}

.builder #report-composition .layout-cols.layout-fixed > .layout-cell .cell-tools .cell-delete {
  display: none;
}

.builder #report-composition > li.sortable-chosen .layout-rows {
  margin-top: 0;
}
.builder #report-composition > li.sortable-chosen .cols-tools,
.builder #report-composition > li.sortable-chosen .cell-tools,
.builder #report-composition > li.sortable-chosen .text-edit,
.builder #report-composition > li.sortable-chosen .dataviz.list-group-item,
.builder #report-composition > li.sortable-chosen .dataviz-container:empty:after,
.builder #report-composition > li.sortable-chosen:hover .cols-tools,
.builder #report-composition > li.sortable-chosen:hover .cell-tools,
.builder #report-composition > li.sortable-chosen:hover .text-edit,
.builder #report-composition > li.sortable-chosen:hover .dataviz.list-group-item,
.builder #report-composition > li.sortable-chosen:hover .dataviz-container:empty:after {
  display: none;
}

/*.builder #report-composition .sortable-chosen .layout-cell,*/
.builder #report-composition > li.sortable-chosen .dataviz-container {
  min-height: 2em;
  background: #ccc;
}
.builder #report-composition > li.sortable-chosen {
  background-color: transparent;
}
.builder #report-composition .sortable-drag {
  width: 100%;
  background-color: #ffe;
}

/* --------------------------------------------------------- Actions de composition */

.builder #report-composition .btn-group-sm .btn,
.builder #report-composition .btn.btn-sm {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.2rem 0.4rem;
}

.builder #report-composition .bloc-content:hover .layout-rows {
  margin-top: 1.5rem;
}

.builder #report-composition > li .cols-tools,
.builder #report-composition > li .cell-tools,
.builder #report-composition > li .text-edit {
  display: none;
}
.builder #report-composition > li:hover .cols-tools,
.builder #report-composition > li:hover .cell-tools,
.builder #report-composition > li:hover .text-edit {
  display: flex;
}

.builder #report-composition .list-group-item .bloc-tools,
.builder #report-composition .layout-cols   > .cols-tools,
.builder #report-composition .layout-cell   > .cell-tools,
.builder #report-composition .editable-text > .text-edit {
  filter: alpha(opacity=25);
  opacity: 0.25;
}
.builder #report-composition .list-group-item:hover .bloc-tools,
.builder #report-composition .layout-cols:hover   > .cols-tools,
.builder #report-composition .layout-cell:hover   > .cell-tools,
.builder #report-composition .editable-text:hover > .text-edit {
  filter: alpha(opacity=100);
  opacity: 1;
  transition: 0.5s;
}

.builder #report-composition .list-group-item .bloc-tools b,
.builder #report-composition .layout-cols   > .cols-tools b,
.builder #report-composition .layout-cell   > .cell-tools b,
.builder #report-composition .editable-text > .text-edit  b {
  display: none;
}
.builder #report-composition .list-group-item:hover .bloc-tools b,
.builder #report-composition .layout-cols:hover   > .cols-tools b,
.builder #report-composition .layout-cell:hover   > .cell-tools b,
.builder #report-composition .editable-text:hover > .text-edit  b{
  display: inline;
}

.builder #report-composition .layout-cols {
  border: 2px solid transparent;
}
.builder #report-composition .layout-cols:hover {
  border: 2px dotted #ffcc00;
  background-color: #ffcc0010;
}

.builder #report-composition .layout-cols {
  position: relative;
}
.builder #report-composition .layout-cols > .cols-tools {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 20;
}
.builder #report-composition .layout-cell {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.builder #report-composition .layout-cell > .cell-tools {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
}

.builder #report-composition .editable-text {
  border: 1px dotted #ffffff;
}
.builder #report-composition .editable-text:hover {
  border: 1px dashed #ffcc00;
}
.builder #report-composition .editable-text .btn.text-edit {
  float: left;
  margin: -1px 0.5em 0 -1px;
}

.builder #report-composition .layout-cols.layout-fixed > .layout-cell .cell-tools .cell-delete {
  display: none;
}

/* --------------------------------------------------------- Dataviz containers */

.builder #report-composition .dataviz-container {
  border: 1px solid #bbb;
  min-height: 6.5rem;
  height: 100%;
  font-size: 1rem;
  padding: 10px;
}
.builder #report-composition .dataviz-container:empty:after {
  content: "glisser-déposer\Aune donnée ici";
  white-space: pre-wrap;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #bbb;
}

.builder #report-composition .dataviz.list-group-item {
  position: relative;
}
.builder #report-composition .dataviz .data-tools {
  position: absolute;
  bottom: 0;
  right: 0;
}
.builder #report-composition .dataviz .data-tools .btn.drag,
.builder #report-composition .dataviz .data-tools .btn b,
.builder #report-composition .dataviz .dataviz-definition {
  display: none;
}

.builder #report-composition .dataviz.configured .data-tools .btn.edit {
  background-color: #28a745;
  color: #ffffff;
}

.builder #report-composition .dataviz .dataviz-description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.builder #report-composition .dataviz .dataviz-description .dvz-icon {
  flex-grow: 0;
  font-size: 2rem;
  margin-right: 0.5em;
}

.builder #report-composition .dataviz:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.builder #report-composition .dataviz:hover .data-tools .btn b {
  display: inline;
}

.builder.edit .dataviz.sortable-drag {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 15px;
  height: auto;
}
.builder.edit .dataviz.sortable-drag .data-tools {
  display: none;
}

/* --------------------------------------------------------- Special title block */

.builder #report-composition .report-bloc-title {
  padding: 15px;
}

.builder #report-composition .report-bloc-title .dataviz-container {
  min-height: 5rem;
  flex-direction: row;
  justify-content: space-between;
  border: 5px ridge #bbb;
}
.builder #report-composition .report-bloc-title .dataviz-container:empty:after {
  white-space: normal;
  line-height: 2rem;
  margin-top: 0.5rem;
  width: 100%;
}
.builder #report-composition .report-bloc-title .dataviz.list-group-item {
  flex-grow: 1;
}

.builder #report-composition .report-bloc-title .data-tools {
  display: none;
}
.builder #report-composition .report-bloc-title .dataviz-description i.fas {
  display: inline;
  padding: 0;
  margin: 0;
  margin-right: 1rem;
  font-size: 2rem;
  vertical-align: middle;
}

/* --------------------------------------------------------- */

.report-component {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.card.dataviz.used {
}
.card.dataviz:not(.used) .card-footer {
    display: none;
}
.card.dataviz .card-footer span {
    margin-right: 3px;
}

.tool.configured::after {
    content: "  \0040";
}
.tool,.tool.configured {
    display: inline;
}

.color-selector-group{
    display: flex;
    margin-top: 10px;
}
.chosecolors{
    flex-direction: column;
}
.chosecolors .input-group-prepend,
.chosecolors .input-group-prepend span{
    flex-grow: 1;
}

#w_text_text,
#w_title,
#text-edit-value{
    min-height: 31px;
    height: 100% !important;
    font-size: 16px;
}
#w_desc{
    font-size: 16px;
    min-height: 16px;
}

.manualColorPicking{
    border: none;
    border-radius: 4px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    width: 100%;
}
.manualColorPicking:focus{
    outline: none;
}

.notdvz{
    display: flex;
}
.notdvz i {
    display: flex;
    align-items: center;
}

.report-chart-title{
    text-align: center;
}
.report-chart-summary{
    text-align: justify;
}
.report-figure-chiffre {
    padding-top: 40px !important;
}

.editable-text:before {
    color: #fff;
    margin: 10px;
    background: #000000;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
.editable-text.titre-1:before {
    content: "I";
}
.editable-text.titre-2:before {
    content: "II";
}
.editable-text.titre-3:before {
    content: "III";
}
.editable-text.titre-4:before {
    content: "IV";
}
.editable-text.titre-1 {
    font-size: 40px;
    font-weight: 700;
}
.editable-text.titre-2 {
    font-size: 24px;
    font-weight: 600;
}
.editable-text.titre-3 {
    font-size: 20px;
    font-weight: 500;
}
.editable-text.titre-4 {
    font-size: 16px;
    font-weight: 400px;
}

span.designed-dataviz {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 700;
}
span.designed-dataviz:before {
    content: "\f200";
}
span.certified-dataviz {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 700;
    margin-left:15px;
}
span.certified-dataviz:before {
    content: "\f559";
}
span.certified-dataviz.disabled,
span.designed-dataviz.disabled {
    display:none;
}

#dataviz-attributes.tab-content {
    border: solid;
    border-color: #fff #dee2e6 #dee2e6 #dee2e6;
    border-width: thin;
}

.custom-control-input:checked~.custom-control-label::before{
  background-color:#006878;
  border-color: #006878;
}
*/

